@model IEnumerable<IrigationAPP.Models.IrrigationTime>

@{
    ViewData["Title"] = "Index";
}

<h1>Automatic Control</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Irrigation Time
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.irrigationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
        </tr>
}
    </tbody>
</table>
<p>Showing @Model.Count() of @ViewData["TotalCount"] entries</p>
<a asp-action="Index2" class="btn btn-primary">View all Data</a>
<a asp-action="Index3" class="btn btn-primary">View Statistic</a>